{% extends 'base.html.twig' %}

{% block title %}Show{% endblock %}

{% block body %}
    <h1>Show</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proposed_referendum.id }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ proposed_referendum.user }}</td>
            </tr>
            <tr>
                <th>Details</th>
                <td>{{ proposed_referendum.details }}</td>
            </tr>
            <tr>
                <th>Support</th>
                <td>{{ proposed_referendum.support }}</td>
            </tr>
        </tbody>
    </table>

    <a href = "{{ url('public_home') }}"><button type="button">Back to List!</button></a>

    <br>

{% endblock %}
