{% extends 'student/base.html.twig' %}

{% block title %}ProposedReferendum index{% endblock %}

{% block body %}
    <h1>ProposedReferendum index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Details</th>
                <th>Support</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proposed_referendum in proposed_referendums %}
            <tr>
                <td>{{ proposed_referendum.id }}</td>
                <td>{{ proposed_referendum.user }}</td>
                <td>{{ proposed_referendum.details }}</td>
                <td>{{ proposed_referendum.support }}</td>
                <td>
                    <a href="{{ path('proposed_referendum_show', {'id': proposed_referendum.id}) }}">show</a>
                    <a href="{{ path('proposed_referendum_edit', {'id': proposed_referendum.id}) }}">edit</a>
                    <form method="post" action="{{ path('proposed_referendum_support', {'id': proposed_referendum.id}) }}" onsubmit="return confirm('Are you sure you want to support this referendum?');">
                        <input type="hidden" name="_method" value="POST">
                        <input type="hidden" name="proposal_id" value="{{ proposed_referendum.id }}">
                        <button type="submit" value="{{ proposed_referendum.id }}" class="mb-xs mt-xs mr-xs btn btn-primary">
                            Support this
                        </button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('proposed_referendum_new') }}">Create new</a>

    <br><br>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Details</th>
            <th>Date</th>
            <th>Votes for</th>
            <th>Votes Against</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for referendum in referendums %}
            <tr>
                <td>{{ referendum.id }}</td>
                <td>{{ referendum.title }}</td>
                <td>{{ referendum.details }}</td>
                <td>{{ referendum.date }}</td>
                <td>{{ referendum.votesFor }}</td>
                <td>{{ referendum.votesAgainst }}</td>
                <td>
                    <form method="post" action="{{ path('voteFor') }}">
                        <input type="hidden" name="id" value="{{ referendum.id }}">
                        <button type="submit">
                            For Vote!
                        </button>
                    </form>
                    <form method="post" action="{{ path('voteAgainst') }}">
                        <input type="hidden" name="id" value="{{ referendum.id }}">
                        <button type="submit">
                            Against Vote!
                        </button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
