<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="../css/adminstyle"/>
    </head>
    <body>

    <ul>
        <li><a href = "{{ url('public_home') }}"> Home</a></li>
        <li><a href = "{{ url('public_about') }}"> About</a></li>
        <li><a href = "{{ url('public_contact') }}"> Contact Us</a></li>
        <li><a href = "{{ url('admin') }}"> Admin</a></li>
        <li><a href="{{ path('referendum_index') }}">Referendum</a></li>
        <li><a href="{{ path('user_index') }}">User</a></li>
        <li><img class="userimage1" src="../images/user.png"></li>
        <li><div class="adminHead">Admin</div></li>
        <li><img class="userimage2" src="../images/user.png"></li>
        <li style="float:right"><a href="{{ path('logout') }}">Logout</a></li>
    </ul>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
