{% extends 'admin/base.html.twig' %}

{% block title %}Referendum index{% endblock %}

{% block body %}
    <h1>Referendum index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Details</th>
                <th>Date</th>
                <th>Votes for</th>
                <th>Votes Against</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for referendum in referendums %}
            <tr>
                <td>{{ referendum.id }}</td>
                <td>{{ referendum.title }}</td>
                <td>{{ referendum.details }}</td>
                <td>{{ referendum.date }}</td>
                <td>{{ referendum.votesFor }}</td>
                <td>{{ referendum.votesAgainst }}</td>
                <td>
                    <a href = "{{ path('referendum_show', {'id': referendum.id}) }}"><button type="button">show</button></a>
                    <a href = "{{ path('referendum_edit', {'id': referendum.id}) }}"><button type="button">edit</button></a>
                    <form method="post" action="{{ path('voteFor') }}">
                        <input type="hidden" name="id" value="{{ referendum.id }}">
                        <button type="submit">
                            For Vote!
                        </button>
                    </form>
                    <form method="post" action="{{ path('voteAgainst') }}">
                        <input type="hidden" name="id" value="{{ referendum.id }}">
                        <button type="submit">
                            Against Vote!
                        </button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('referendum_new') }}">Create new</a>

    <br><br>

    <div id="piechart"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values

    </script>

    <div id = "container" style = "width: 550px; height: 400px; margin: 0 auto"></div>
    <script language = "JavaScript">
        function drawChart() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
                ['Title', 'Support Votes', 'Pending Votes'],
                {% for referendum in proposed_referendums %}
                ['{{ referendum.details }}',  {{ referendum.support }},  {{ 50 - referendum.support }}],
                {% endfor %}
            ]);

            var options = {
                title: 'Votes In support (with amount remianing untill target)',
                isStacked:'percent'
            };

            // Instantiate and draw the chart.
            var chart = new google.visualization.BarChart(document.getElementById('container'));
            chart.draw(data, options);
        }
        google.charts.setOnLoadCallback(drawChart);
    </script>

{% endblock %}
