<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="../css/studentstyle.css"/>
    </head>
    <body>


    <ul>
        <li><a href = "{{ url('public_home') }}"> Home</a></li>
        <li><a href = "{{ url('public_about') }}"> About</a></li>
        <li><a href = "{{ url('public_contact') }}"> Contact Us</a></li>
        <li><a href = "{{ url('proposed_referendum_index') }}"> Propose Referendum</a></li>
        <li style="float:right"><a href="{{ path('logout') }}">Logout</a></li>
    </ul>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
